@model GestaoDeProjetos.Application.ViewModels.NotMapped.DetalhesEquipeViewModel
@{
    ViewData["Title"] = "Detalhes";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPrevista)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.Projetos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataPrevista)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
                    <a asp-action="Index">Voltar para lista</a>
                </td>
            </tr>
        }
    </tbody>
</table>

