@model GestaoDeProjetos.Application.ViewModels.ProjetoViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProjetoViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prioridade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prioridade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataPrevista)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataPrevista)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Relatorio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Relatorio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Progresso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Progresso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Coordenador.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Coordenador.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipe.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipe.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar para lista</a>
</div>
