@model IEnumerable<GestaoDeProjetos.Application.ViewModels.TarefaViewModel>
@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Criar Tarefas</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPrevista)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResponsavelId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjetoId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataPrevista)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Responsavel.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Projeto.Nome)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
